@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
  body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    max-width: 1200px;
  }

p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

h1.title {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li{
  list-style-type: none;
  margin-left: 20px;
}

nav h1{
  font-size: 3em;
}
nav p, nav a{
  color: #777;
  font-weight: 300;
}
nav a {
  transition: 0.15s;
}

nav a:hover{
  border-bottom: rgb(38, 12, 142) solid 2px;
  transition: 0.15s;
}

.snippet{
  display: inline-block;
  margin-right: 50px;
}



.blogs a{
  width: 100%;
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid rgb(11, 103, 11);
}

.blog-title {
  font-size: 23px;
}
.blogs a:hover h3{
  color: rgb(11, 103, 11);
}